* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: #00000000;
  background: rgba(19, 54, 60, 0.838);
}

.big-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

@media (max-width: 768px) {
  .big-wrapper{
    flex-direction: column;
  }
}


@media (max-width: 420px) {
  .big-wrapper{
  
  flex-direction: column;

}}

